:root {
  --color-background-base: #121212;
  --border-width-default: 1px;
  --color-border-base: #888;
}
.l4t-send-button {
  font-size: x-large !important;
  font-weight: 100 !important;
  min-width: 40px !important;
  margin: 5px 0px 5px 0px !important;
  padding: 0px 5px 0px 5px !important;
}

.l4t-send-button {
  color: cornsilk !important;
  background-color: #2f2f2f !important;
}

.l4t-send-button:hover {
  background-color: #6a6a6a !important;
}

.l4t-send-button:disabled {
  filter: grayscale(1) !important;
  font-size: x-large !important;
  font-weight: 100 !important;
  min-width: 40px !important;
  margin: 5px 0px 5px 0px !important;
  padding: 0px 5px 0px 5px !important;
}

.l4t-close-button {
  font-size: large !important;
  font-weight: 100 !important;
  margin: 5px 0px 5px 0px !important;
  padding: 0px 5px 0px 5px !important;
}

.l4t-close-button {
  color: cornsilk !important;
}

.l4t-panel {
  background-color: var(--color-background-base) !important;
  border: var(--border-width-default) solid var(--color-border-base) !important;
}

.l4t-hash-label {
  font-family: monospace !important;
  padding-top: 8px !important;
}

.l4t-hash-label {
  color: #666666 !important;
}

.l4t-editor-window {
  position: absolute;
  left: 5%;
  top: 0px;
  width: 90%;
  height: 50%;
  min-height: 50% !important;
  font-size: 13px !important;
  visibility: visible;
  transition: top 0.1s cubic-bezier(0.02, 1.11, 0.57, 0.98)
}

.l4t-editor-window.l4t-hidden {
  top: -300px;
  visibility: hidden;
}
 
.l4t-copy-code-button {
  float: right;
}

.l4t-copy-code-button[show=true] {
  float: right;
  filter: invert(100%); 
}

.l4t-copy-code-button:active {
  filter: invert(70%) !important;
  float: right;
}

/* override tomorrow night bright's theme setup */
.CodeMirror {
  min-height: 300px !important;
  background-color:var(--color-background-base) !important;
}

.cm-s-tomorrow-night-bright .CodeMirror-cursor {
  border-left: 1px solid #fff !important;
}

.CodeMirror-gutters {
  background-color:var(--color-background-base) !important;
}

.CodeMirror-linenumbers {
  background-color:var(--color-background-base) !important;
}

/* wrap the line of code */
pre, code {
  border-radius: 4px;
  white-space: pre-wrap;
}


