:root {
  --vector-marker-color: #000 !important;
  --axis-stroke-color: #000 !important;
  --text-color: #000 !important;
  --point-fill-color: #2f2f2f !important;
  --point-stroke-color: #777777 !important;
  --intersect-point-fill-color: #777777aa !important;
  --intersect-point-stroke-color: #565656aa !important;
}
