/* Builder UI Theme */
:root {
  --ui-background-color: #232425 !important;

  --ui-editarea-background-color: #121212 !important;
  --ui-editarea-border-color: #333 !important;

  --ui-hint-text-color: #fff !important;

  --ui-inspector-background-color: #272B2E !important;
  --ui-inspector-border-color: #333 !important;
  --ui-inspector-text-color: #eee !important;
  --ui-inspecting-stroke-color: #ee90ff !important;

  --ui-help-background-color: #222831aa !important;
  --ui-help-border-color: #333 !important;
  --ui-help-text-color: #bbbbbb !important;

  --ui-hover-stroke-color: #bbe1fa !important;
  --ui-selected-stroke-color: #89ceff !important;
  --ui-select-box-stroke-color: #fff !important;
  --ui-select-box-fill-color: #ffffff33 !important;

  --ui-kbd-text-color: #fff;
}

/* override for testing */
.dashed {
  stroke-dasharray: 5 3 !important;
  stroke-width: 1 !important;
}

.menu {
  font: 0.9em Roboto, Helvetica, Sans-Serif, Times, serif, monospace;
}
.menu_title {
  fill: #aaa;
  user-select: none;
  -webkit-user-select: none;
}
.menu_item {
  font-weight: 300;
  fill: #888;
  user-select: none;
  -webkit-user-select: none;
}
.menu_item:hover {
  fill: #fff;
  cursor: pointer;
}

body {
  background-color: var(--ui-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  font: 1em Roboto, Helvetica, Sans-Serif, Times, serif, monospace;
}

#preferenceWindow {
  position: absolute;
  background-color: #232425;
  padding: 5px 20px 20px 20px;
  top: calc(50vw - 150px);
  left: calc((100vw - 320px)/2);
  width: 300px;
  border: 1px #555 solid;
  color: #bbb;
  visibility: hidden;
}

.windowTitle {
  padding-bottom: 5px;
  margin-bottom: 3px;
  border-bottom: 1px #444 solid;
}

.pref_field_label {
  display: inline-block;
  width: 50px;
}

.field.digits {
  width: 80px
}

#pref_close_button {
  position: absolute;
  top: 4px;
  right: 4px;
  filter: invert(0.8);
  border: 0px;
}

#pref_close_button:hover {
  filter: invert(0.3);
}

#editArea {
  backdrop-filter: blur(9px);
  border-radius: 2px;
  border: 1px solid var(--ui-editarea-border-color);
  padding: 0;
  position: relative;
  width: 98vw;
  height: 74vw;
}

.fsg-board {
  fill: rgba(255,255,255,0) !important;
  cursor: url('data:image/svg+xml;utf8,<svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.95198 12.6724L0.846468 0.908064L16.5706 7.66667H7.6H7.28118L7.14667 7.95573L4.95198 12.6724Z" fill="black" stroke="white"/></svg>') -8 -8, default !important;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  30% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}

.fadeIn {
  animation: fadeIn 500ms;
}

.fadeOut {
  animation: fadeOut 500ms;
}

.fadeInOut {
  animation: fadeInOut 2000ms;
}

#hintBox {
  position: absolute;
  top: calc(70vw);
  width: 100%;
  text-align: center;
  opacity: 0;
  font-family: 'KaTeX_Math';
}

#message {
  background-color: var(--ui-background-color);
  color: var(--ui-hint-text-color);
  border: 1px solid #888; 
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  user-select: none;
  -webkit-user-select: none;
}

#inspector {
  /* background-color: var(--ui-inspector-background-color); */
  border: 1px solid var(--ui-inspector-border-color);
  border-radius: 2px;
  backdrop-filter: blur(9px);
  color: var(--ui-inspector-text-color);
  margin: 10px;
  padding: 20px 5px 20px 5px;
  user-select: none;
  -webkit-user-select: none;
  font-family: Roboto, monospace;
  font-size: large;
  position: relative;
}

#file {
 background-color: transparent; 
 margin-left: 2px;
 margin-bottom: 5px;
 cursor: pointer;
}

#file:focus {
 outline: 1px dashed #fff;
}

#logo {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 32px;
}

#github {
  position: absolute;
  top: 50px;
  right: 5px;
  width: 32px;
}

.button {
  filter: drop-shadow(3px 2px 3px black);
}
.button:hover {
  filter: brightness(130%);
}
.button:active {
  filter: brightness(60%);
}

#runButton {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 24px;
}

#reloadButton {
  position: absolute;
  top: 11px;
  right: 100px;
  width: 24px;
}

#colorPicker {
  position: absolute;
  right: 120px;
  top: 45px;
  /* background-color: #333; */
  padding: 10px;
}

#colorIndicator {
  position: absolute;
  right: 260px;
  top: 33px;
  width: 13px;
  transition: right 300ms ease-out;
}

#field_fill { /* color picker */
  top: 11px;
  right: 150px;
}

#field_stroke { /* color picker */
  top: 11px;
  right: 230px;
}

.highlight {
  filter: brightness(130%);
}
.button-down {
  filter: brightness(80%);
}

#help {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--ui-help-background-color);
  border: 1px solid var(--ui-help-border-color);
  border-radius: 5px;
  color: var(--ui-help-text-color);
  line-height: 1.6em;
  user-select: none;
  -webkit-user-select: none;
}

kbd {
  margin: 10px 8px 10px 8px;
  background-color: #666;
  border-radius: 4px;
  padding: 3px;
  border: 1px solid #333;
  font-family: 'Courier New', Courier, monospace;
  color: var(--ui-kbd-text-color);
}

.field_color {
  font-family: monospace;
  position: absolute;
  padding: 0;
  width: 78px;
  text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
}

.field_color, .field {
  margin-top: 3px;
  margin-left: 10px;
  margin-bottom: 3px;
  padding-left: 3px;
  box-shadow: none;
  box-sizing: border-box;
  display: inline-block;
  line-height: 0.7;
  resize: none;
  appearance: none;
  border: 0; 
  background-color: #33333363;
  outline: none;
  color: #fff;
}

.field_label {
  display: inline-block;
  font-size: 0.7em;
  width: 4em;
  margin-left: 10px;
  user-select: none;
  -webkit-user-select: none;
}

.long {
  width: 400px;
}

[fsg_hidden] {
  opacity: 0.5 !important;
  visibility: visible !important;
}

.ui-hidden {
  visibility: hidden;
}

[fsg_inspecting] {
  stroke: var(--ui-inspecting-stroke-color) !important;
}

/* selections */

.fsg-ui-select-box {
  stroke: var(--ui-select-box-stroke-color);
  stroke-width: 0.5;
  fill: var(--ui-select-box-fill-color);
}

svg .cover {
  stroke: rgba(255,255,255,0) !important;
  stroke-width: 10 !important;
  stroke-dasharray: none !important;
  fill: none;
}

svg .cover:hover {
  cursor: pointer;
}

[fsg_hover] {
  cursor: pointer;
}

[fsg_shape][fsg_hover], [fsg_shape]:hover {
  stroke: var(--ui-hover-stroke-color) !important;
}

[fsg_hover]:not([fsg_shape]) {
  stroke: var(--ui-hover-stroke-color) !important;
  stroke-width: 1.5 !important;
}

[fsg_dragging] {
  cursor: url('data:image/svg+xml;utf8,<svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.95198 12.6724L0.846468 0.908064L16.5706 7.66667H7.6H7.28118L7.14667 7.95573L4.95198 12.6724Z" fill="black" stroke="white"/></svg>') -8 -8, default !important;
}

[fsg_selected]:not([fsg_inspecting]) {
  stroke: var(--ui-selected-stroke-color) !important;
}

.point {
  cursor: pointer !important;
}

.point[fsg_selected] {
  stroke-width: 1;
}

.mid-point[fsg_selected],
.intersect-point[fsg_selected],
.parallel-point[fsg_selected],
.perp-point[fsg_selected],
.pin-point[fsg_selected] {
  stroke-width: 0.5;
}

