/* Theme related */

:root {
  --vector-marker-color: #999;
  --axis-stroke-color: #555;
  --text-color: #999;
  --title-color: #ffbd02;
  --point-fill-color: #2f2f2f;
  --point-stroke-color: #ff0;
  --intersect-point-fill-color: #777777aa;
  --intersect-point-stroke-color: #565656aa;

  --ui-background-color: #151c23;
  --ui-selected-stroke-color: #ff0;
  --ui-select-box-stroke-color: #777;
  --ui-select-box-fill-color: #ffffff33;
}

body {
  background-color: var(--ui-background-color);
  color: var(--text-color); /* text color */
  font: 1em Roboto, Helvetica, Sans-Serif, Times, serif, monospace;
}

svg {
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none; /* for Safari */
}

svg .fsg-board {
  fill: var(--ui-background-color);
  cursor: url('data:image/svg+xml;utf8,<svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.95198 12.6724L0.846468 0.908064L16.5706 7.66667H7.6H7.28118L7.14667 7.95573L4.95198 12.6724Z" fill="black" stroke="white"/></svg>') -8 -8, default;
}

svg .fsg-ui-select-box {
  stroke: var(--ui-select-box-stroke-color) !important;
  stroke-width: 0.5;
  fill: var(--ui-select-box-fill-color) !important;
}

svg .vector-marker-start,
svg .vector-marker-end {
  fill: var(--vector-marker-color);
}

svg .point {
  fill: var(--point-fill-color);
  stroke: var(--point-stroke-color);
}

svg .pin-point {
  fill: var(--intersect-point-fill-color);
  stroke: var(--point-stroke-color);
}

svg .mid-point,
svg .intersect-point {
  fill: var(--intersect-point-fill-color);
  stroke: var(--intersect-point-stroke-color);
}

svg .axis-x,
svg .axis-y {
  stroke: var(--axis-stroke-color);
  stroke-width: 1.2;
}

/* WARNNING: don't use .text which is used by katex */
svg .latex,
svg .label {
  color: var(--text-color);
  fill: var(--text-color);
  font-family: 'KaTeX_Math', 'Times New Roman', Times, serif;
}

svg .title {
  color: var(--title-color);
  fill: var(--title-color);
  font-family: 'KaTeX_Math', 'Times New Roman', Times, serif;
}


