:root {
  --vector-marker-color: #999;
  --axis-stroke-color: #999;
  --text-color: #999;
  --point-fill-color: #2f2f2f;
  --point-stroke-color: #777777;
  --intersect-point-fill-color: #777777aa;
  --intersect-point-stroke-color: #565656aa;
}
